

<div class = "container">
  <h1>Enter a new bid for <%= @event.name %></h1>
 <%= simple_form_for([@event, @bid]) do |f| %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.submit %>
 <% end %>
</div>
