<div class="container">
  <div class="row">
    <div class="big-margin-bottom">
      <div class="main_body">
        <img src="https://res.cloudinary.com/alicezoepicot/image/upload/v1542208918/undraw_High_five_u364.png" style="width:450px;", id="bid-photo">
      </div>
      <div class = "event_name">
        <h3>Your Bid is confirmed !</h3>
        <p>Your Event: <%= @bid.event.name %></p>
        <p>Event Date: <%= @bid.event.date %></p>
        <p>Type of Event: <%= @bid.event.event_type %></p>
        <p>Party size: <%= @bid.event.party_size %></p>
        <p>Service: <%= @bid.event.service %></p>
        <p><%= @bid.event.description %></p>
      </div>
      <div class= "bid_details">
        <h3>Your price bid: <%= @bid.price %></h3>
        <p>Your bid description: <%= @bid.description %></p>
      </div>
      <div class="div-with-centred-items">
        <%= link_to "View your dashboard", professional_dashboard_path, class: "elm-79_127" %>
      </div>
    </div>
  </div>
</div>

