<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="search_bar">
        <%= form_tag events_path,{:class => "filter_index_form", method: :get} do  %>
        <%= text_field_tag :starts_at,
        params[:starts_at],
        class: "datepicker input_margin_1",
        placeholder: "No Start Date Added"%>
        <%= text_field_tag :ends_at,
        params[:ends_at],
        class: "datepicker input_margin_2",
        placeholder: "No End Date Added" %>

        <%= text_field_tag :location,
         params[:location],
         placeholder: "No Location Added",
         class: "location_input input_margin_2",
         id: "event_location" %>
        <%= submit_tag "Search", class: " btn filter_button"%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="cards_container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="row ">
          <% @events.each do |event| %>
            <div class="col-xs-12 col-md-4">
              <a href="/events/<%= event.id %>" class="card_link">
                <div class="event_card">
                  <% if event.event_type == "birthday" %>
                    <%= cl_image_tag("undraw_birthday_cake_7df8.png",
          width: 285, height: 200, crop: :fill)%>
                  <% elsif event.event_type == "dinner" %>
                    <%= cl_image_tag("undraw_eating_together_tjhx.png",
          width: 285, height: 200, crop: :fill)%>
                  <% elsif event.event_type == "party" %>
                    <%= cl_image_tag("undraw_beer_celebration_3wc8.png",
          width: 285, height: 200, crop: :fill)%>
                  <% end %>
                  <div class="card_description">
                    <div class="card_text">
                      <%= event.name %>
                    </div>
                    <div class="card_text">
                      <i class="icon fas fa-map-marker-alt"></i><%= event.location %>
                    </div>
                    <div class="card_text">
                      <i class="icon fas fa-users"></i><%= event.party_size %>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
