<div class="container">
  <div class="row">
    <div class="main_div col-xs-12 col-md-8">
      <div class="main_header">
        <div class="title_and_details">
          <div class="title">
            <h2><%= @event.name %></h2>
          </div>
          <div class="details row">
            <p class="col-xs-12 col-md-4"><i class="fas fa-users"></i> <%= @event.party_size %>Guests</p>
            <p class="col-xs-12 col-md-4"><i class="fas fa-calendar-alt"></i> <%= @event.date %></p>
            <p class="col-xs-12 col-md-4"><i class="fas fa-map-marker-alt"></i> <%= @event.location %></p>
          </div>
        </div>
        <div style="width:20%; padding:30px;">
          <img src="https://picsum.photos/100/100" alt="avatar" class="avatar">
        </div>
      </div>
      <div class="main_body">
        <p><%= @event.description %></p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-3 col-lg-offset-1 btn-container">
      <div class="btn bid-now">
        Bid Now
      </div>
    </div>
  </div>
  <div class="main_div col-xs-12 col-md-8">
    <h2>Amenities</h2>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p class="align_left"><i class="fas fa-snowflake"></i>-Fridge</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <p class="align_left"><i class="fas fa-fire"></i>-Oven</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <p class="align_left"><i class="fas fa-utensils"></i>-Utensils</p>
      </div>

      <div class=" column col-xs-12 col-md-6">
        <p class="align_left"><i class="fas fa-coffee"></i>-Free Coffee</p>
      </div>
    </div>
  </div>
</div>
