<div class="container">
  <div class="row">
    <div class="main_div col-xs-12 col-md-8">
      <div class="main_header">
        <div class="title_and_details">
          <div class="title">
            <h2><%= @event.name %></h2>
          </div>
          <div class="details row">
            <p class="col-xs-12 col-md-4"><i class="fas fa-users"></i> <%= @event.party_size %>Guests</p>
            <p class="col-xs-12 col-md-4"><i class="fas fa-calendar-alt"></i> <%= @event.date %></p>
            <p class="col-xs-12 col-md-4"><i class="fas fa-map-marker-alt"></i> <%= @event.location %></p>
          </div>
        </div>
        <div style="width:20%; padding:30px;">
          <img src="https://picsum.photos/100/100" alt="avatar" class="avatar">
        </div>
      </div>
      <div class="main_body_card">
        <p><%= @event.description %></p>
      </div>
    </div>
    <div>
      <div class="show-bid">
        <p>Want to make a bid?</p>
        <% if user_signed_in? && @user.professional?   %>
          <%= link_to "Bid Now", new_event_bid_path(@event),class: "btn bid-now unstyled button-width" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: " btn submit_button unstyled button-width" %>
          <%= link_to "Sign up", new_user_registration_path, class: " btn submit_button unstyled button-width" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="main_div col-xs-12 col-md-8">
    <h2>Amenities</h2>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p class="align_left"><i class="fas fa-snowflake"></i>-Fridge</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <p class="align_left"><i class="fas fa-fire"></i>-Oven</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <p class="align_left"><i class="fas fa-utensils"></i>-Utensils</p>
      </div>

      <div class=" column col-xs-12 col-md-6">
        <p class="align_left"><i class="fas fa-coffee"></i>-Free Coffee</p>
      </div>
    </div>
  </div>
</div>
