<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/daitlzche/image/upload/v1542109468/basil-delicious-food-459469.jpg');">
  <div class="logo_container">
    <img src="https://res.cloudinary.com/daitlzche/image/upload/v1542197200/Snip20181114_4.png" alt="">
  </div>
  <div class="button_container">
    <% if user_signed_in? %>
      <p class="my_link"><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "my_link" %>
      <%= link_to "Sign up", new_user_registration_path, class: "my_link" %>
    <% end %>
  </div>
  <div class="banner-content">
  </div>
  <div class="form_container">
    <div class="form_wrapper" style="width: 343px; height: 100px; margin: 0 auto;">
    <%= form_tag events_path, method: :get do %>
      <%= text_field_tag :starts_at,
      params[:starts_at],
      class: "datepicker input_margin_1",
        placeholder: "Start Date"%>
      <%= text_field_tag :ends_at,
      [:ends_at],
      class: "datepicker input_margin_2",
        placeholder: "End Date"%>

      <%= text_field_tag :location,
       params[:location],
       placeholder: "Location",
       class: "location_input",
       id: "event_location" %>
      <%= submit_tag "Search", class: " btn submit_button"%>
    <% end %>
  </div>
</div>
<div class="container">
  <div>
    <h1 class="card_header">How does it work?</h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class ="card">
        <img src="https://res.cloudinary.com/daitlzche/image/upload/v1542111713/undraw_hello_aeia.png" alt="">
      </div>
      <div>
        <p>Search for events</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <img src="https://res.cloudinary.com/daitlzche/image/upload/v1542111725/undraw_people_search_wctu.png" alt="">
      </div>
      <div>
        <p>Select your event</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <img src="https://res.cloudinary.com/daitlzche/image/upload/v1542111738/undraw_High_five_u364.png" alt="">
      </div>
      <div>
        <p>Confirm your event</p>
      </div>
    </div>
  </div>
</div>







