<div class="container">
  <h1 class ="mainheading">Bids Dashboard</h1>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <div class="subheadings">
            <table>
              <tr>
                <th class="subsmall">Event</th>
                <th class="subsmall">Location</th>
                <th class="subsmall">Date</th>
                <th class="sublarge">Description</th>
              </tr>
              <% @events.each do |event| %>
                <% if event.event_type == "birthday" %>
                <% elsif event.event_type == "dinner" %>
                <% elsif event.event_type == "party" %>
                <% end %>
                <tr class="event-card">
                  <td>
                    <%= event.event_type %>
                  </td>
                  <td>
                    <%= event.location %>
                  </td>
                  <td>
                    <%= event.date %>
                  </td>
                  <td class= "description-sub">
                    <%= event.description %>
                  </td>
                  <td>
                    <%= link_to "View", event_path(event), class: "btn event-card-btn" %>
                  </td>
                </tr>
              <% end %>
            </table>
            <!-- <p class="sub-type">Event</p>
            <p class="sub-loc">Location</p>
            <p class="sub-date">Date</p>
            <p class="sub-descr">Description</p> -->
          </div>
        </div>
      </div>


      </div>




