<div class="navbar-wagon">
  <a href="/" class="logo">
    <img src="https://res.cloudinary.com/daitlzche/image/upload/v1542197200/Snip20181114_4.png" alt="logo">
  </a>

  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <p><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
    <% else %>
      <p><%= link_to "Login", new_user_session_path %></p>
      <p><%= link_to "Sign up", new_user_registration_path %></p>
    <% end %>
  </div>
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
         <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
